<!-- Создание пайпа -->
<span>{{loremText | cutText : 3}}</span>
<br><br>
<!-- Pure -->
<button (click)="changeText()">Простая кнопка</button>
<br><br>
<button (click)="changeNothing()">Меняем ничего</button>
<!-- встроенные пайпы -->
<div>
  <h1>Информация о пользователе</h1>
  <ng-container *ngIf="user$ | async as user; else loading">
    <p>Имя: {{ user.name }}</p>
    <p>Возраст: {{ user.age }}</p>
  </ng-container>
  <ng-template #loading>
    <p>Загрузка...</p>
  </ng-template>
</div>

<span>{{some | json}}</span>
